*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("https://images.pexels.com/photos/6802042/pexels-photo-6802042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 40%;
    margin: 100px;
    padding: 80px 20px 80px 20px ;
    border-radius: 6px;
}
