*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#board{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 200px;
    height: 200px;
    background-color: rgb(136, 174, 136);
    color:white;
    text-align: center;
    line-height: 190px;
    margin: 5px;
    animation: appear 1s;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}

.box-valid{
    background-color: red;
    transform: scale(10%)rotate(360deg);
}
